@import 'bootstrap-sprockets';
@import 'bootstrap';

.stats {
  margin-top: 0;
  overflow: auto;
  padding: 0;

  a {
    border-left: 1px solid #ddd;
    color: gray;
    float: left;
    padding: 0 10px;

    &:first-child {
      border: 0;
      padding-left: 0;
    }

    &:hover {
      color: blue;
      text-decoration: none;
    }
  }

  strong {
    display: block;
  }
}

.user_avatars {
  margin-top: 10px;
  overflow: auto;

  .gravatar {
    margin: 1px 1px;
  }

  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}
